@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/carousel.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  border: 0 !important;
}

html {
  /*font-size: 62.5%;*/
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  /*padding: 0 80px;*/
  margin: auto;
}
