.footer {
  background: #D65A31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 28px;
  padding: 0px 10px;
}
.footer-links a:hover {
  font-weight: bold;
  opacity: 1;
  color: white !important;
}

.footer-symbol {
  color: #F7FD04;
  opacity: 1 !important;
}

.footer-copyright {
  font-size: 16px;
  color: white;
  opacity: 0.8;
}

@media only screen and (max-width: 576px) {
  .footer {
    padding: 0px 8px;
  }
  .footer-links a {
    font-size: 22px;
  }
  .footer-copyright {
    font-size: 12px;
  }
}
